.ColorList {
  text-align: center;
}

.ColorList-header {
  background-color: darkslategray;
  height: 150px;
  padding: 20px;
  color: white;
}

.ColorList-header a {
  color: white;
}

ul {
  list-style: none;
  padding: 0;
}
